html, body {
  position: relative;
  height: 100%;
  font-family: "Helvetica Neue"; }

body {
  margin: 0;
  padding: 0; }

.swiper-container {
  width: 100%;
  height: 100%; }
  .swiper-container .swiper-slide .landing-page {
    height: 100%;
    background-image: url("../assets/imgs/landing_background.JPG");
    background-size: cover;
    background-repeat: no-repeat; }
    .swiper-container .swiper-slide .landing-page .headline {
      position: absolute;
      top: calc(100% - 85%);
      left: calc(100% - 85%); }
      .swiper-container .swiper-slide .landing-page .headline img {
        height: 200px;
        width: 200px;
        display: inline-block;
        vertical-align: middle; }
      .swiper-container .swiper-slide .landing-page .headline h1 {
        color: #fff;
        font-size: 50px;
        display: inline-block;
        vertical-align: middle;
        padding: 10px; }
    .swiper-container .swiper-slide .landing-page .navigation-down {
      width: 200px;
      text-align: center;
      cursor: pointer;
      position: absolute;
      bottom: 0;
      left: calc(100% - 57%); }
      .swiper-container .swiper-slide .landing-page .navigation-down i {
        color: #fff;
        font-size: 60px;
        text-align: center;
        display: block;
        margin: 0;
        padding: 0; }
      .swiper-container .swiper-slide .landing-page .navigation-down p {
        color: #fff;
        font-size: 20px;
        display: block;
        margin: -10px;
        padding: 0; }
  .swiper-container .swiper-slide .general-informations {
    height: 100%; }
    .swiper-container .swiper-slide .general-informations .navigation-down {
      width: 200px;
      text-align: center;
      cursor: pointer;
      position: absolute;
      bottom: 0;
      left: calc(100% - 57%); }
      .swiper-container .swiper-slide .general-informations .navigation-down i {
        color: #000;
        font-size: 60px;
        text-align: center;
        display: block;
        margin: -10px;
        padding: 0; }
      .swiper-container .swiper-slide .general-informations .navigation-down p {
        color: #000;
        font-size: 20px;
        display: block;
        margin: 0;
        padding: 0; }
    .swiper-container .swiper-slide .general-informations .navigation-up {
      width: 200px;
      text-align: center;
      cursor: pointer;
      position: absolute;
      top: 0;
      left: calc(100% - 57%); }
      .swiper-container .swiper-slide .general-informations .navigation-up i {
        color: #000;
        font-size: 60px;
        text-align: center;
        display: block;
        margin: -10px;
        padding: 0; }
      .swiper-container .swiper-slide .general-informations .navigation-up p {
        color: #000;
        font-size: 20px;
        display: block;
        margin: 0;
        padding: 0; }
  .swiper-container .swiper-slide .team-page .navigation-up {
    width: 200px;
    text-align: center;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: calc(100% - 57%); }
    .swiper-container .swiper-slide .team-page .navigation-up i {
      color: #000;
      font-size: 60px;
      text-align: center;
      display: block;
      margin: -10px;
      padding: 0; }
    .swiper-container .swiper-slide .team-page .navigation-up p {
      color: #000;
      font-size: 20px;
      display: block;
      margin: 0;
      padding: 0; }
  .swiper-container .swiper-slide .team-page .navigation-down {
    width: 200px;
    text-align: center;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    left: calc(100% - 57%); }
    .swiper-container .swiper-slide .team-page .navigation-down i {
      color: #000;
      font-size: 60px;
      text-align: center;
      display: block;
      margin: -10px;
      padding: 0; }
    .swiper-container .swiper-slide .team-page .navigation-down p {
      color: #000;
      font-size: 20px;
      display: block;
      margin: 0;
      padding: 0; }
  .swiper-container .swiper-slide .impressum .navigation-up {
    width: 200px;
    text-align: center;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: calc(100% - 57%); }
    .swiper-container .swiper-slide .impressum .navigation-up i {
      color: #000;
      font-size: 60px;
      text-align: center;
      display: block;
      margin: -10px;
      padding: 0; }
    .swiper-container .swiper-slide .impressum .navigation-up p {
      color: #000;
      font-size: 20px;
      display: block;
      margin: 0;
      padding: 0; }

/*# sourceMappingURL=style.css.map */
